/* Normal desktop :1200px. */

@media (min-width: 1200px) and (max-width: 1500px) {
  .feture-con {
    padding: 0 7px;
  }
  .event1, .event2 {
    padding-right: 0 !important;
  }
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
  .main-menu ul li a {
    font-size: 14px;
  }
  .signup-home {
    float: right;
    line-height: 18px;
  }
  .signupmainaria {
    padding: 0;
  }
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
  .event-time {
    padding-left: 25%;
  }
}

/* small mobile :320px. */

@media (max-width: 767px) {
  .event-details-img {
    margin-top: 0;
  }
  .event-title h2 {
    font-weight: 300;
    text-align: center;
    padding-top: 25px;
    margin: 10px 0;
    padding-left: 0;
    font-size: 18px;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

/* <button type="submit" class="signup contact-signupbtn">SUBMIT</button> */