/* Normal desktop :1200px. */

@media (min-width: 1200px) and (max-width: 1500px) {
  .feture-con {
    padding: 0 7px;
  }
  .event1, .event2 {
    padding-right: 0 !important;
  }
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
  .main-menu ul li a {
    font-size: 14px;
  }
  .signup-home {
    float: right;
    line-height: 18px;
  }
  .signupmainaria {
    padding: 0;
  }
  .image-aria {
    margin-top: 0;
    padding: 25px;
  }
  .image-aria img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
  .image-aria {
    margin-top: 0;
    padding: 25px;
  }
  .image-aria img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  .gellery-all-img .single-img {
    width: 24%;
  }
}

/* small mobile :320px. */

@media (max-width: 767px) {
  .gellery-header {
    padding: 25px 0;
  }
  .image-aria {
    margin-top: 0;
    padding: 25px;
  }
  .image-aria img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  .gellery-all-img .single-img {
    width: 48%;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
  .single-gallery-img {
    max-width: 96%;
  }
  .gallery {
    margin: 0 !important;
  }
}

/* <button type="submit" class="signup contact-signupbtn">SUBMIT</button> */